<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="SeleniumJenkinsTest">
        <classes>
            <class name="com.demo.comTest.UserDefinedTest"/>
        </classes>
    </test> <!-- SeleniumJenkinsTest -->
</suite> <!-- Default Suite -->
